.profile__data {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  .avatar {
    font-size: 120px;
  }
  img {
    margin-bottom: 10px;
  }
  h3 {
    font-size: 20px;
  }
  .deleteAccount {
    font-size: white;
    background-color: rgb(167, 47, 26);
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px 10px;
  }
}
